:root {
  --bg-dark: #065e7c;
  --bg-dark-hover: #042d3a;
  --bg-light: #ffffff;
  --text-color: #121214;
  --title-color: #202024;
  --bg-search: #387e96;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  font-size: 16px;
  color: var(--text-color);
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
header {
  background: var(--bg-dark);
  width: 100%;
  padding: 16px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25.5px;
  #logo-image {
    width: 40px;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 14px;
    background: var(--bg-search);

    border-radius: 4px;
    color: var(--bg-light);
    &::placeholder {
      color: var(--bg-light);
    }
  }
  #user-image {
    width: 42px;
    border-radius: 50%;
  }
}
main {
  > img {
    width: 100%;
  }
}
main .content {
  padding: 31px 22px 34px;
  button {
    border: none;
    outline: none;
    margin: 8px 0 31px;
    background: var(--bg-dark);
    padding: 12px;
    border-radius: 50%;
    i {
      color: var(--bg-light);
      width: 16px;
      height: 16px;
    }
  }
  p {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
aside {
  padding: 0 22px 39px;
  .card {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    img {
      height: 84px;
      border-radius: 5px;
    }
    .content {
      h2 {
        margin-bottom: 4px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
footer {
  text-align: center;
  padding: 26.5px 0;
  color: var(--bg-light);
  font-weight: 600;
  background: var(--bg-dark);
}
@media (min-width: 1440px) {
  body {
    display: grid;
    grid-template-columns: 912px auto;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    margin-left: 110px;
    margin-top: 44px;
    margin-bottom: 39px;
    .content {
      padding: 0;
    }
  }
  aside {
    grid-area: sidebar;
    padding: 0;
    max-width: 384px;
    margin: 44px 110px 39px 34px;
  }
  footer {
    grid-area: footer;
  }
}
